<%= simple_form_for [:admin, @article] do |f| %>
  <div class="form-group">
    <%= f.input :title, :label => "標題" %>
    <% if @article.image.present? %>
      <span>首圖</span> <br>
      <%= image_tag(@article.image.thumb.url) %>
    <% end %>

    <%= f.input :image, as: :file ,:label => "首圖" %>
    <%= f.input :summary, :label => "摘要" %>
    <%= f.input :content, :label => "内容" %>
    <%= f.input :is_hidden, :label => "隱藏" %>

    <hr>

  </div>
  <%= f.submit "提交", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
<% end %>
