
<div class="container">
  <div class="row">

    <div class="article-show">

      <div class="col-md-8 article-show-box">

        <!-- 標题 -->
        <div class="article-title">
          <h1><%= @article.title %></h1>
        </div>

        <!-- 作者 -->
        <div class="article-author">
          <span> <%= @article.user.email %></span> ·
          <span> <%= @article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
        </div>

        <!-- 摘要 -->
        <div class="article-summary">
          <p>
            <blockquote>
                <%= simple_format(@article.summary) %>
            </blockquote>
          </p>
        </div>

        <!-- 主圖 -->
        <div class="article-image">
          <% if @article.image.present? %>
          <%= image_tag(@article.image.thumb.url, class: "thumbnail") %>
          <% end %>
        </div>
        <hr>

        <!-- 内容 -->
        <div class="article-description">
          <%= simple_format(@article.content) %>
        </div>



      </div>

    </div>

  </div>
</div>
